{% if officers === 'yes' %}
  {% set result = result + 1
 %}
{% endif %}
{% if psc === 'yes' %}
  {% set result = result + 1 %}
{% endif %}
{% if register === 'yes' %}
  {% set result = result + 1 %}
{% endif %}
{% if ro === 'yes' %}
  {% set result = result + 1
 %}
{% endif %}
{% if shareholderCapital === 'yes' %}
  {% set result = result + 1
 %}
{% endif %}
{% if shareholders === 'yes' %}
  {% set result = result + 1
 %}
{% endif %}
{% if sic === 'yes' %}
  {% set result = result + 1
 %}
{% endif %}
You have completed
{{result}}
of 8 sections