{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm company
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">Big Shop ltd</h2>
      <form action="{{currentUrl}}" method="post">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number</dt>
            <dd class="govuk-summary-list__value">{{ data['companyNumber'] }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
              Active
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Incorporation date</dt>
            <dd class="govuk-summary-list__value">
              8 April 2010
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company type</dt>
            <dd class="govuk-summary-list__value">Private limited company</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of next confirmation statement</dt>
            <dd class="govuk-summary-list__value">20 July 2026</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">To be filed by</dt>
            <dd class="govuk-summary-list__value">20 July 2026</dd>
          </div>
        </dl>

        {{ govukButton({
          text: "Confirm and continue"
        }) }}

        <p>
          <a href="./company-number">Choose a different company</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
