{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Sign in to Companies House</h1>
      <p class="govuk-hint-text">You cannot use your WebFiling details to sign in. You must sign in to or register a Companies House account.</p>
      <form action="{{currentUrl}}" method="post">
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            name: "email",
            value: email
          }) }}

          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: 'password',
            value: password
          }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      
        <p class="govuk-body">
          <a href="" class="govuk-link">Register a new account</a>
        </p>
        <p class="govuk-body">
          <a href="" class="govuk-link">I've forgotten my password</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}