{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Sign in to Companies House</h1>
      <p class="govuk-hint-text">You cannot use your WebFiling details to sign in. You must sign in to or register a Companies House account.</p>
      
      <form action="{{currentUrl}}" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input" id="email" name="email" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input" id="password" name="password" type="text">
        </div>

        {{ govukButton({
          text: "Sign in"
        }) }}
      
        <p class="govuk-body">
          <a href="" class="govuk-link">Register a new account</a>
        </p>
        <p class="govuk-body">
          <a href="" class="govuk-link">I've forgotten my password</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}