{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      <h1 class="govuk-heading-l">
        {{ serviceName }}
      </h1>

      <p>
        Check and confirm that the company information we have on record is correct as of
        {{ scenario.company.csDate }}.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-7">
        {% set result = 0 %}

        {% if data['officers'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['psc'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['registers'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['registered-office-address'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['statement-of-capital'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['shareholders'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if data['sic'] == 'yes' %}
          {% set result = result + 1 %}
        {% endif %}

        {% if additionalMembers === 'no' %}
          {% set result = result + 1 %}
        {% endif %}

        You have checked
          {{result}}
        of 7 sections
      </p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">

            Nature of business
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/sic">
                  SIC codes
                </a>
              </span>
              {% if data['sic'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>

              {% elif data['sic'] == 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/sic" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/statement-of-capital">
                  Statement of capital
                </a>
              </span>

              {% if data['statement-of-capital'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
              {% elif data['statement-of-capital'] == 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/statement-of-capital" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">

            People
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/officers">
                  Officers
                </a>
              </span>
              {% if data['officers'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>

              {% elseif additionalDirectors === 'yes' or officers === 'no' or activeDirectors === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/officers" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  <a href="./confirmation-statement/people-with-significant-control">
                    People with significant control (PSCs)
                  </a>
                </span>
                {% if data['psc'] == 'yes' %}
                  <strong class="govuk-tag app-task-list__tag">
                    Checked</strong>
                {% elseif psc === 'no' or pscStatement === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/people-with-significant-control" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
                {% endif %}
            </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./confirmation-statement/shareholders">
                Shareholders
              </a>
            </span>
            {% if data['shareholders'] == 'yes' %}
              <strong class="govuk-tag app-task-list__tag">
                Checked</strong>

            {% elif data['shareholders'] == 'no' %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/shareholders" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

            {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
            {% endif %}
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">

            Addresses
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/ro" aria-describedby="company-information-status">
                  Registered office address
                </a>
              </span>
              {% if data['registered-office-address'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>

              {% elif data['registered-office-address'] == 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag">  <a href="./confirmation-statement/ro" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/registers">
                  Register locations
                </a>
              </span>
              {% if data['registers'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>

              {% elif data['registers'] == 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="./confirmation-statement/registers" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Confirm and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              {% if result === 7 %}
                  <a href="./confirmation-statement/review">Submit</a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not started</strong>
              {% else %}
                Submit
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            {% endif %}

          </li>
        </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
