{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ serviceName }}
      </h1>

      <p>
        Check and confirm that the company information we have on record is correct as of
        DATE.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-7">
        You have checked 0 of 7 sections
      </p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Nature of business
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/sic">
                  SIC codes
                </a>
              </span>
              {% if data['sic'] == 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked
                </strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./confirmation-statement/statement-of-capital">
                  Statement of capital
                </a>
              </span>
              {% if statementOfCapital === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
              {% elif statementOfCapital === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/statement-of-capital" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            People
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement/officers">
                  Officers
                </a>
              </span>
              {% if officers === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
              {% elseif additionalDirectors === 'yes' or officers === 'no' or activeDirectors === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/officers" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              {% if scenario.company.tradingStatus === '1' %}
                  <a href="/confirmation-statement/people-with-significant-control">
                    People with significant control (PSCs)
                  </a>
                </span>
                {% if pscStatement === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag">
                    Checked</strong>
                {% elseif psc === 'no' or pscStatement === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/people-with-significant-control" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
                {% endif %}
              {% elseif trading === '2' %}
                <a href="/psc-exemption">
                  People with significant control (PSC)
                </a>
              </span>
                {% if exemption === 'no' and psc === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
                {% elseif exemption === 'no' and additionalPscs === 'yes' or psc === 'no' or activePSCs === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/people-with-significant-control" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
                {% elseif exemption === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
                {% endif %}
            {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement/shareholders">
                  Shareholders
                </a>
              </span>
              {% if shareholders === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>

              {% elif shareholders === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/shareholders" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Addresses
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement/ro" aria-describedby="company-information-status">
                  Registered office address
                </a>
              </span>
              {% if ro === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
              {% elseif ro === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag">  <a href="/confirmation-statement/ro" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement/registers">
                  Register locations
                </a>
              </span>
              {% if register === 'yes' %}
                <strong class="govuk-tag app-task-list__tag">
                  Checked</strong>
              {% elseif register === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><a href="/confirmation-statement/registers" class="govuk-link govuk-link--no-underline">Ready to continue</a></strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not checked</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Confirm and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              {% if result === 7 %}
                {% if scenario.company.csDue === 'notdue' %}
                  <a href="/confirmation-statement/review">Submit</a>
                {% else %}
                  <a href="/confirmation-statement/review">Submit</a>
                {% endif %}
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not started</strong>
              {% else %}
                Submit
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
