//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here





.flex {
  display: flex;
}
.govuk-summary-card {
  border: 1px solid #b1b4b6;
}

.govuk-summary-card_heading {
  background: #f3f2f1;
}
.govuk-link__print {
   display: none;
 }

.govuk-input--company-number {
  max-width: 13ex;
}

.govuk-hint-text {
  color: $govuk-secondary-text-colour;
}

.one-filing {
  margin-bottom: 2em;
  background-color: #f8f8f8;
  padding: 1em;
  clear: both;
}

.js-toggle-nav {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.js-signout {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.user {
  display: inline;
}

.content {
  display: inline;
}

.content-email {
  display: inline;
  padding-right: 20px;
}

.nav-spacing {
  padding-left: 20px;
}

.search-bar-active {
  background: #dee0e2;
  padding: .5em;
  border: none;
  margin: 0;
  color: #0b0c0c;
}

.search-header .searchfield {
  position: relative;
  vertical-align: baseline;

}

.search-header .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  overflow: visible;
  cursor: pointer;

}

.search-header button {

  box-shadow: none;

  z-index: 4;

  top: 0;

  border: none;

  text-indent: -5000px;
  color: #fff;
  background-color: #005ea5;
  background-image: url('/images/search/search-button.png');
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
}
.govuk-summary-list__row:last-child {
  .govuk-summary-list__key {
    border-bottom: 1px solid transparent;
  }
  .govuk-summary-list__value {
    border-bottom: 1px solid transparent;
  }
  .govuk-summary-list__actions {
    border-bottom: 1px solid transparent;
  }
}
.app-task-list__items {
    padding-left: 0px;
}

.govuk-panel {
  .govuk-panel--rejection {
    color: #ffffff;
    background: #d4351c;
  }
}
.govuk-tag--dark-grey {
  background-color: 	#505a5f;
}
.rejected {
  background: transparent;
  border: 6px solid #d4351c;
  color: #d4351c;
}

//Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  text-align: right;
  font-family: 'GDS Transport', Arial, Helvetica, sans-serif;
  display: block;    
  li {
    display: inline;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}

//Styles for info panel on Start page

.ch-info-panel {
  background-color: #f3f2f1;
	text-align: left;
  margin: 2em 0;
	.govuk-panel__title {
		font-size: 1.7em;
	}
	.govuk-inset-text {
		margin-bottom: 0;
	}
  img {
    margin-right: 5px;
    position:relative;
    top:15px;
  }
}
