{% extends "layout.html" %}

{% block pageTitle %}
  What's the company's registered email address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
     Update a registered company email address
{% endset%}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


            <form class="form" method="post">




        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="new-email">
          Enter the updated registered company email address
          </label>
          </h1>
          <p>The current email address is <strong>contact@happyhouse.co.uk</strong></p>
          <input class="govuk-input" id="new-email" name="new-email" type="text" name="new-email" aria-describedby="event-name-hint">
        </div>


      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
