{% extends "layouts/main.html" %}

{% block pageTitle %}
Review the people with significant control
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="{{currentUrl}}" method="post">
        <h1 class="govuk-heading-l">Check the people with significant control (PSCs) details</h1>
        
        {% set pscDetails %}
        <p>A person with significant control (PSC) is anyone who:
          <ul>
            <li>has more than 25% of the company's shares or voting rights</li>
            <li>can appoint or remove a majority of the directors</li>
            <li>can influence or control the company</li>
          </ul>
          For more information,
          <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs">read the guidance on PSCs</a>.</p>
        {% endset %}

        {{ govukDetails({
        summaryText: "More about people with significant control",
        html: pscDetails
        }) }}

        <h2 class="govuk-heading-m">1 individual person</h2>

        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
            <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
            {{govukTag({
                text: "Active",
                classes: "govuk-tag--green"
              })}}
          </div>
          <div style="display: flex" class="govuk-!-padding-1" style="border-bottom: 0px">
            <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nationality</dt>
                <dd class="govuk-summary-list__value">
                  <p>British</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Country of residence</dt>
                <dd class="govuk-summary-list__value">
                  <p>England</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of birth</dt>
                <dd class="govuk-summary-list__value">
                  <p>1 January 1988</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notification date</dt>
                <dd class="govuk-summary-list__value">
                  <p>1 January 2019</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value">
                  <p>2 Nets Way, Newcastle, NE2 3BB</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Usual residential address</dt>
                <dd class="govuk-summary-list__value">
                  <p>1 Bucks Street, Birmingham, BD6 6JD</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nature of control</dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-bullet__list">
                    <li>
                  <p>Ownership of voting rights - more than 50%</p></li>
                  <li>
                    <p>Ownership of shares - more than 50%</p></li>
                    </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        {{ govukTable({
          rows:
          [
            [
              {
                html: pscHTML
              }
            ]
          ]
        }) }}
        {% if psc === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "psc",
          name: "psc",
          errorMessage: pscDetailsError,
          fieldset: {
            legend: {
              html: "Are the PSC details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% elseif psc === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "psc",
          name: "psc",
          errorMessage: pscDetailsError,
          fieldset: {
            legend: {
              html: "Are the PSC details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "psc",
          name: "psc",
          errorMessage: pscDetailsError,
          fieldset: {
            legend: {
              html: "Are the PSC details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}
