{% extends "layouts/main.html" %}

{% block pageTitle %}
Review the shareholders
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-xl">Check the shareholder details</h1>

      <h2 class="govuk-heading-m">1 shareholder</h2>

      <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
      
        </div>
        <div style="display: flex" class="govuk-!-padding-1">
          <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Shares</dt>
              <dd class="govuk-summary-list__value">
                100 Ordinary shares held
              </dd>
            </div>
          </dl>
        </div>
      </div>


        {% if shareholders === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif shareholder === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}
