{% if scenario.company.type === 'LLP' %}
  {% if scenario.company.pscs === '1' %}
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>Irving, Kyrie</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 1 January 1988</li>

      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
    </ul>
  {% elseif scenario.company.pscs === '5' %}
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>Irving, Kyrie</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 1 January 1988</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Durant, Kevin</strong>
      </li>
      <li>Nationality: American</li>
      <li>Date of birth: 1 January 1978</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Harris, Joe</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 5 January 1988</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Harden, James</strong>
      </li>
      <li>Nationality: German</li>
      <li>Date of birth: 1 September 1992</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: Germany</li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Jordan, DeAndre</strong>
      </li>
      <li>Nationality: American</li>
      <li>Date of birth: 1 January 1985</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
    </ul>
  {% endif %}
{% else %}
  {% if scenario.company.pscs === '1' %}
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>Irving, Kyrie</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 1 January 1988</li>

      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - more than 75%</li>
          <li>Ownership of shares - More than 50%</li>
        </ul>
      </li>
    </ul>
  {% elseif scenario.company.pscs === '5' %}
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>Irving, Kyrie</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 1 January 1988</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - 25%</li>
          <li>Ownership of shares - 25%</li>
        </ul>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Durant, Kevin</strong>
      </li>
      <li>Nationality: American</li>
      <li>Date of birth: 1 January 1978</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - 25%</li>
          <li>Ownership of shares - 25%</li>
        </ul>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Harris, Joe</strong>
      </li>
      <li>Nationality: British</li>
      <li>Date of birth: 5 January 1988</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - 25%</li>
          <li>Ownership of shares - 25%</li>
        </ul>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Harden, James</strong>
      </li>
      <li>Nationality: German</li>
      <li>Date of birth: 1 September 1992</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: Germany</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - 10%</li>
          <li>Ownership of shares - 10%</li>
        </ul>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <strong>Jordan, DeAndre</strong>
      </li>
      <li>Nationality: American</li>
      <li>Date of birth: 1 January 1985</li>
      <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
      <li>Country of residence: United Kingdom</li>
      <li>Nature of control:
        <ul>
          <li>Ownership of voting rights - 5%</li>
          <li>Ownership of shares - 5%</li>
        </ul>
      </li>

    </ul>
  {% endif %}
{% endif %}