{% if scenario.company.type === 'LLP' %}
  {% if scenario.company.pscs === '1' %}

  {% elseif scenario.company.pscs === '5' %}
  {% endif %}
{% else %}
  {% if scenario.company.pscs === '1' %}
  <div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
      <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
      {{govukTag({
          text: "Active",
          classes: "govuk-tag--green"
        })}}
    </div>
    <div style="display: flex" class="govuk-!-padding-1" style="border-bottom: 0px">
      <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nationality</dt>
          <dd class="govuk-summary-list__value">
            <p>British</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">
            <p>1 January 1988</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Correspondence address</dt>
          <dd class="govuk-summary-list__value">
            <p>2 Nets Way, Newcastle, NE2 3BB</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Usual residential address</dt>
          <dd class="govuk-summary-list__value">
            <p>1 Bucks Street, Birmingham, BD6 6JD</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nature of control</dt>
          <dd class="govuk-summary-list__value">
            <p>Ownership of voting rights - more than 75%</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
          <dd class="govuk-summary-list__value">
            <p>Ownership of shares - more than 50%</p>
          </dd>
        </div>
      </dl>
    </div>
    </div>

{% elseif scenario.company.pscs === '5' %}
<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Nationality</dt>
        <dd class="govuk-summary-list__value">
          <p>British</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">
          <p>1 January 1988</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Correspondence address</dt>
        <dd class="govuk-summary-list__value">
          <p>2 Nets Way, Newcastle, NE2 3BB</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Nature of control</dt>
        <dd class="govuk-summary-list__value">
          <p>Ownership of voting rights - 25%</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
        <dd class="govuk-summary-list__value">
          <p>Ownership of shares - 25%</p>
        </dd>
      </div>
    </dl>
  </div>
  </div>

  <div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
      <p class="govuk-!-font-weight-bold govuk-!-margin-0">HARDEN, James</p>
    </div>
    <div style="display: flex" class="govuk-!-padding-1">
      <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nationality</dt>
          <dd class="govuk-summary-list__value">
            <p>British</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">
            <p>1 April 1990</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Correspondence address</dt>
          <dd class="govuk-summary-list__value">
            <p>5 Nets Way, Newcastle, NE2 3BB</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Nature of control</dt>
          <dd class="govuk-summary-list__value">
            <p>Ownership of voting rights - 25%</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
          <dd class="govuk-summary-list__value">
            <p>Ownership of shares - 25%</p>
          </dd>
        </div>
      </dl>
    </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-4">
      <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
        <p class="govuk-!-font-weight-bold govuk-!-margin-0">GRIFFIN, Blake</p>
      </div>
      <div style="display: flex" class="govuk-!-padding-1">
        <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Nationality</dt>
            <dd class="govuk-summary-list__value">
              <p>German</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of birth</dt>
            <dd class="govuk-summary-list__value">
              <p>15 January 1958</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Correspondence address</dt>
            <dd class="govuk-summary-list__value">
              <p>2 Nets Way, Newcastle, NE2 3BB</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Nature of control</dt>
            <dd class="govuk-summary-list__value">
              <p>Ownership of voting rights - 25%</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
            <dd class="govuk-summary-list__value">
              <p>Ownership of shares - 25%</p>
            </dd>
          </div>
        </dl>
      </div>
      </div>

      <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">DURANT, Kevin</p>
        </div>
        <div style="display: flex" class="govuk-!-padding-1">
          <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Nationality</dt>
              <dd class="govuk-summary-list__value">
                <p>British</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Date of birth</dt>
              <dd class="govuk-summary-list__value">
                <p>31 March 1978</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Correspondence address</dt>
              <dd class="govuk-summary-list__value">
                <p>2 Nets Way, Newcastle, NE2 3BB</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Nature of control</dt>
              <dd class="govuk-summary-list__value">
                <p>Ownership of voting rights - 20%</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
              <dd class="govuk-summary-list__value">
                <p>Ownership of shares - 20%</p>
              </dd>
            </div>
          </dl>
        </div>
        </div>

        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
            <p class="govuk-!-font-weight-bold govuk-!-margin-0">HARRIS, Joe</p>
          </div>
          <div style="display: flex" class="govuk-!-padding-1">
            <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nationality</dt>
                <dd class="govuk-summary-list__value">
                  <p>Canadian</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of birth</dt>
                <dd class="govuk-summary-list__value">
                  <p>1 May 1989</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value">
                  <p>2 Basket Road, Newcastle, NE2 3BA</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nature of control</dt>
                <dd class="govuk-summary-list__value">
                  <p>Ownership of voting rights - 5%</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" hidden>Nature of control</dt>
                <dd class="govuk-summary-list__value">
                  <p>Ownership of shares - 5%</p>
                </dd>
              </div>
            </dl>
          </div>
          </div>

  {% endif %}
{% endif %}
