{% set roaHTML %}
{% include "includes/confirmation-statement-details/roa.html" %}
{% endset %}
{% set sailHTML %}
2 Nets Way, Newcastle, NE2 3BB
{% endset %}
{% set registersHTML %}
<ul class="govuk-list govuk-list--bullet">
    <li>Register of persons of significant control</li>
    <li>
{% endset %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Address type"
      },
      value: {
        text: "SAIL"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: sailHTML
      }
    },
    {
      key: {
        text: "Registers"
      },
      value: {
        html: registersHTML
      }
    }
  ]
}) }}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Address type"
      },
      value: {
        text: "Public register"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        text: "Companies House"
      }
    },
    {
      key: {
        text: "Registers"
      },
      value: {
        html: registersHTML
      }
    }
  ]
}) }}
