{% if scenario.company.shareholders === '1' %}

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Irving, Kyrie</strong>
    </li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>100 Ordinary shares held</li>

  </ul>
{% elseif scenario.company.shareholders === '5' %}
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Irving, Kyrie</strong>
    </li>
    <li>Nationality: British</li>
    <li>Date of birth: 1 January 1988</li>
    <li>Occupation: Director</li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>Usual residential address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>
      <strong>Durant, Kevin</strong>
    </li>
    <li>Nationality: American</li>
    <li>Date of birth: 1 January 1978</li>
    <li>Occupation: Director</li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>Usual residential address: 3 Nets Way, Newcastle, NE2 3BB</li>
    <li>
      <strong>Harris, Joe</strong>
    </li>
    <li>Nationality: British</li>
    <li>Date of birth: 5 January 1988</li>
    <li>Occupation: Director</li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>Usual residential address: 2 Paint Lane, Newcastle, NE2 3BB</li>
    <li>
      <strong>Harden, James</strong>
    </li>
    <li>Nationality: German</li>
    <li>Date of birth: 1 September 1992</li>
    <li>Occupation: Director</li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>Usual residential address: 6 Hoop Strasse, Berlin, Germany</li>
    <li>
      <strong>Jordan, DeAndre</strong>
    </li>
    <li>Nationality: American</li>
    <li>Date of birth: 1 January 1985</li>
    <li>Occupation: Director</li>
    <li>Correspondence address: 2 Nets Way, Newcastle, NE2 3BB</li>
    <li>Usual residential address: 2 Nets Way, Newcastle, NE2 3BB</li>

  </ul>
{% endif %}