{% extends "layout.html" %}

{% block pageTitle %}
  Update officers - File a confirmation statement
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/active-officers"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          You need to update the company details
        </h1>
        <p>You will need to update the company officers before you can file a confirmation statement. You can use
          <a target="_blank" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">our WebFiling service (opens in a new tab)</a>
          to file the following forms online:</p>
        <ul class="govuk-list govuk-list--bullet">
          <strong>
            <li>Appointment of director – AP01
            </li>
            <li>Termination of appointment of director – TM01
            </li>
          </strong>
        </ul>
        {{ govukInsetText({
              text: "Updates can take some time to process, and will not be reflected immediately in the information displayed on this service. As long as the update has been submitted, you can still file the confirmation statement."
            }) }}
        <p>You can return to this confirmation statement by selecting <a href="/your-filings">Your Filings</a> in your Companies House account.</p>

        {{ govukButton({
    text: "Return to confirmation statement"
  }) }}
      </form>
    </div>
  </div>
{% endblock %}
