{% extends "layout.html" %}

{% block pageTitle %}
  Update officers - File a confirmation statement
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/officers"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          <h1 class="govuk-heading-l">
            You need to update the company details
          </h1>

                      <p>You will need to update the officer details on
                        <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" target="_blank"> our WebFiling service (opens in a new tab)</a>
                        before you can file a confirmation statement.</p>
                        <p>Return to this window after you have made the update.
                    </p>


          {{ govukRadios({
              idPrefix: "have-you-completed-this-section",
              name: "have-you-completed-this-section",
              fieldset: {
                legend: {
                  text: "Have you updated the officer details?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No, I do not need to update the officer details"
                }
              ]
            }) }}

      {{ govukButton({
  text: "Return to confirmation statement"
}) }}

  <p>
      <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongoff/">What did you think of this service?</a>
      (takes 2 minutes)</p>
      </form>
    </div>
  </div>
{% endblock %}
