{% extends "layout.html" %}

{% block pageTitle %}
  Update PSCs - File a confirmation statement
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/active-pscs"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          You need to update the company details
        </h1>
        <p>You will need to update the people of significant control (PSC) before you can file a confirmation statement. You can use
          <a target="_blank" href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">our WebFiling service (opens in a new tab)</a>
          to file the following forms online:</p>
        <ul class="govuk-list govuk-list--bullet">
          <strong>
            <li>Cease of person with significant control (PSC) - PSC07
            </li>
            <li>Notification of person with significant control (PSC) - PSC01
            </li>
          </strong>
        </ul>
        {{ govukInsetText({
              text: "Updates can take some time to process, and will not be reflected immediately in the information displayed on this service. As long as the update has been submitted, you can still file the confirmation statement."
            }) }}
        <p>You can return to this confirmation statement by selecting <a href="/your-filings">Your Filings</a> in your Companies House account.</p>

        {{ govukButton({
    text: "Return to confirmation statement"
  }) }}
  <p>
      <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongactivepsc/">What did you think of this service?</a>
      (takes 2 minutes)</p>
      </form>
    </div>
  </div>
{% endblock %}
