{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}  Review the PSCs
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select yes if the active PSCs are correct",
            href: "#active-pscs"
          }
        ]
      }) }}
      {% endif %}

      <form action="" method="post">
        {% set pscDetails %}
        <p>A person with significant control (PSC) is someone who owns or controls the company. For example, anyone with voting rights or more than 25% of the shares. For more information,
          <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs">read the guidance on PSCs</a>.</p>
        {% endset %}
        <h1 class="govuk-heading-l">Check the active
          {% if scenario.company.pscs === '1' %}people with significant control (PSC){% elseif scenario.company.pscs === '5' %}people with significant control (PSC)
          {% endif %}
        </h1>

        {{ govukDetails({
        summaryText: "More about PSCs",
        html: pscDetails
        }) }}
        {% if scenario.company.pscs === '1' %}
          <h2 class="govuk-heading-m">{{scenario.company.pscs}}
            individual PSC</h2>
          {% set pscHTML %}

          Irving, Kyrie

          {% endset %}
        {% elseif scenario.company.pscs === '5' %}
          <h2 class="govuk-heading-m">{{scenario.company.pscs}}
            individual PSCs</h2>
          {% set pscHTML %}
          <ul class="govuk-list govuk-list--bullet">
            <li>Irving, Kyrie</li>
            <li>Durant, Kevin</li>
            <li>Harris, Joe</li>
            <li>Harden, James</li>
            <li>Jordan, DeAndre</li>
          </ul>
          {% endset %}
        {% endif %}

        {% set headingHTML %}
        {% if scenario.company.pscs === '1' %}Is the PSC still active?{% elseif scenario.company.pscs === '5' %}Are the PSCs still active?{% endif %}
        {% endset %}
        {{ govukTable({

  rows: [
    [
      {
        html: pscHTML
      }
    ]
  ]
}) }}
{% if scenario.company.recentFiling === 'yes' %}
        {% if activePscs === 'yes' %}
          {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "active-pscs",
      name: "active-pscs",
      errorMessage: activePscsError,
      fieldset: {
        legend: {
          html: headingHTML,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: true
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "yes",
          text: "No, but an update has been submitted"
        }
      ]
    }) }}
        {% elseif activePscs === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "active-pscs",
          name: "active-pscs",
          errorMessage: activePscsError,
          fieldset: {
            legend: {
              html: headingHTML,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "active-pscs",
              name: "active-pscs",
              errorMessage: activePscsError,
              fieldset: {
                legend: {
                  html: headingHTML,
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "No, but an update has been submitted"
                }
              ]
            }) }}
        {% endif %}
{% else %}
{% if activePscs === 'yes' %}
  {{ govukRadios({
classes: "govuk-radios",
idPrefix: "active-pscs",
name: "active-pscs",
errorMessage: activePscsError,
fieldset: {
legend: {
  html: headingHTML,
  isPageHeading: false,
  classes: "govuk-fieldset__legend--l"
}
},
items: [
{
  value: "yes",
  text: "Yes",
  checked: true
},
{
  value: "no",
  text: "No"
}
]
}) }}
{% elseif activePscs === 'no' %}
  {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "active-pscs",
  name: "active-pscs",
  errorMessage: activePscsError,
  fieldset: {
    legend: {
      html: headingHTML,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      checked: true
    }
  ]
}) }}
{% else %}
  {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "active-pscs",
      name: "active-pscs",
      errorMessage: activePscsError,
      fieldset: {
        legend: {
          html: headingHTML,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
{% endif %}
{% endif %}
        {{ govukButton({
text: "Continue"
}) }}
      </form>

    </div>
  </div>
{% endblock %}
