{% extends "layout.html" %}

{% block pageTitle %}
  Review the officers
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/officers"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">

        {% if additionalOfficers === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "additional-officers",
          name: "additional-officers",
          fieldset: {
            legend: {
              html: "Are there any officers to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    text: "This includes directors, corporate directors, secretaries and corporate secretaries."
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "no",
              text: "Yes, but I've recently filed an update"
            }
          ]
        }) }}
        {% elseif additionalOfficers === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "additional-officers",
          name: "additional-officers",
          fieldset: {
            legend: {
              html: "Are there any officers to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    text: "This includes directors, corporate directors, secretaries and corporate secretaries."
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            },
            {
              value: "no",
              text: "Yes, but I've recently filed an update"
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "additional-officers",
          name: "additional-officers",
          fieldset: {
            legend: {
              html: "Are there any officers to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    text: "This includes directors, corporate directors, secretaries and corporate secretaries."
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "no",
              text: "Yes, but I've recently filed an update"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}