{% extends "layout.html" %}

{% block pageTitle %}
  Review the PSCs
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/people-with-significant-control"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">
        {% if additionalPscs === 'no' %}
          {{ govukInsetText({
  html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}

        {% if additionalPscs === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "additional-pscs",
          name: "additional-pscs",
          fieldset: {
            legend: {
              html: "Are there any PSCs to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes individual people, relevant legal entitities and other registrable people."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif additionalPscs === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "additional-pscs",
          name: "additional-pscs",
          fieldset: {
            legend: {
              html: "Are there any PSCs to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes individual people, relevant legal entitities and other registrable people"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "additional-pscs",
          name: "additional-pscs",
          fieldset: {
            legend: {
              html: "Are there any PSCs to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes individual people, relevant legal entitities and other registrable people"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
      <p>
        <a href="/sign-out">Save and sign out</a>
      </p>
    </div>
  </div>
{% endblock %}