{% extends "layout.html" %}

{% block pageTitle %}
  Review the officers
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/active-directors"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">
        <h1 class="govuk-heading-l">Check the director details</h1>
        {% if officers === 'no' %}
          {{ govukInsetText({
  html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}
        {% if scenario.company.directors === '1' %}
          <h2 class="govuk-heading-m">1 Director</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{scenario.company.directors}}
            Directors</h2>
        {% endif %}

        {% set directorHTML %}
        {% include "includes/confirmation-statement-details/officers.html" %}
        {% endset %}

        {{ govukTable({

  rows: [
    [
      {
        html: directorHTML
      }
    ]
  ]
}) }}
        {% if officers === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "officers",
          name: "officers",
          fieldset: {
            legend: {
              html: "Are the director details correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: officerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif officers === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "officers",
          name: "officers",
          fieldset: {
            legend: {
              html: "Are the director details correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: officerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "officers",
          name: "officers",
          fieldset: {
            legend: {
              html: "Are the director details correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: officerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}