{% extends "layout.html" %}

{% block pageTitle %}
  Review the people with significant control statement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set pscStatementTypesHTML %}
        <p>If a company has no PSCs, or is currently investigating who its PSCs are, it needs to file a statement to explain why its full PSC information is not yet on the public register. For example, if there is a PSC that has not yet been identified, or
          if a PSC has been identified but their details have not yet been confirmed.</p>
        <p>
          <a href="https://ewf.companieshouse.gov.uk/help/en/stdwf/faqHelp.html#psc">Read the guidance for a full list of PSC statements.</a>
        </p>
        {% endset %}

        {% set pscStatementHTML %}
        {% if pscStatement === 'no' %}
          {{ govukInsetText({
  html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}
        <p>No additional statements relating to PSCs are currently held on the public register.</p>
        {{ govukDetails({
          summaryText: "What are PSC statements?",
          html: pscStatementTypesHTML
        }) }}
        {% endset %}

        {% if pscStatement === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "psc-statement",
          name: "psc-statement",
          fieldset: {
            legend: {
              html: "Is the PSC statement correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: pscStatementHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif pscStatement === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "psc-statement",
          name: "psc-statement",
          fieldset: {
            legend: {
              html: "Is the PSC statement correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: pscStatementHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "psc-statement",
          name: "psc-statement",
          fieldset: {
            legend: {
              html: "Is the PSC statement correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: pscStatementHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}