{% extends "layout.html" %}

{% block pageTitle %}
  Review where the company records are held
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

<h1 class="govuk-heading-l">Check where the company records are kept</h1>

        {% if registers === 'no' %}
          {{ govukInsetText({
        html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}

        {% include "includes/confirmation-statement-details/registers.html" %}


        {% if registers === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registers",
          name: "registers",
          fieldset: {
            legend: {
              html: "Is this where the company records are kept?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif registers === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registers",
          name: "registers",
          fieldset: {
            legend: {
              html: "Is this where the company records are kept?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "registers",
  name: "registers",
  fieldset: {
    legend: {
      html: "Is this where the company records are kept?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
html: registerHTML
},
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
        {% endif %}
        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

        <!--  {{ govukButton({
            text: "Save and return to confirmation statement",
            classes: "govuk-button--secondary"
          }) }}
          -->
        </div>
      </form>
    </div>
  </div>
{% endblock %}
