{% extends "layout.html" %}

{% block pageTitle %}
  Review the registered office address
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select yes if the registered office address is correct",
              href: "#ro"
            }
          ]
        }) }}
        {% endif %}

<h1 class="govuk-heading-l">Check the registered office address</h1>

        <p>
          {% include "includes/confirmation-statement-details/roa.html" %}
        </p>

{% if scenario.company.recentFiling === 'yes' %}
        {% if ro === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          errorMessage: roError,
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% elseif ro === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          errorMessage: roError,
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          errorMessage: roError,
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "No, but an update has been submitted"
            }
          ]
        }) }}
        {% endif %}
{% else %}
{% if ro === 'yes' %}
  {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "registered-office-address",
  name: "registered-office-address",
  errorMessage: roError,
  fieldset: {
    legend: {
      html: "Is the registered office address correct?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
html: roaHTML
},
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: true
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{% elseif ro === 'no' %}
  {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "registered-office-address",
  name: "registered-office-address",
  errorMessage: roError,
  fieldset: {
    legend: {
      html: "Is the registered office address correct?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
html: roaHTML
},
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      checked: true
    }
  ]
}) }}
{% else %}
  {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "registered-office-address",
  name: "registered-office-address",
  errorMessage: roError,
  fieldset: {
    legend: {
      html: "Is the registered office address correct?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
html: roaHTML
},
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{% endif %}
{% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}

      </form>
    </div>
  </div>
{% endblock %}
