{% extends "layout.html" %}

{% block pageTitle %}
  Review the shareholders
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">



        {% set shareholdersHTML %}
        {% if scenario.company.shareholders === '1' %}
          <h2 class="govuk-heading-m">1 Shareholder</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{scenario.company.shareholders}}
            Shareholders</h2>
        {% endif %}
        {% include "includes/confirmation-statement-details/shareholders.html" %}
        {% endset %}

        {% if shareholders === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: shareholdersHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif shareholder === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: shareholdersHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: shareholdersHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}
