{% extends "layout.html" %}

{% block pageTitle %}
  Review the statement of capital
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <h1 class="govuk-heading-l">Check the statement of capital</h1>
        {% include "includes/confirmation-statement-details/statement-of-capital.html" %}

        {% if shareholderCapital === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "statement-of-capital",
          name: "statement-of-capital",
          fieldset: {
            legend: {
              html: "Is the statement of capital correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif shareholderCapital === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "statement-of-capital",
          name: "statement-of-capital",
          fieldset: {
            legend: {
              html: "Is the statement of capital correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "statement-of-capital",
          name: "statement-of-capital",
          fieldset: {
            legend: {
              html: "Is the statement of capital correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}