{% extends "layout.html" %}

{% block pageTitle %}
  Review the SIC codes
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        {% set sicDetails %}
        <p>The SIC (Standard Industrial Classification) code indicates the nature of the company’s business. A company can have up to 4 SIC codes.
        </p>
        <p>Check the
          <a href="http://resources.companieshouse.gov.uk/sic/">condensed SIC codes list</a>.</p>
        {% endset %}
        {% set sicHTML %}
        {% include "includes/confirmation-statement-details/sic.html" %}
        {% endset %}

        {% if sic === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "sic",
          name: "sic",
          fieldset: {
            legend: {
              html: "Are the SIC codes correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: sicHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif sic === 'no' %}
          {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "sic",
        name: "sic",
        fieldset: {
          legend: {
            html: "Are the SIC codes correct?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
  html: sicHTML
},
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No",
            checked: true
          }
        ]
      }) }}
        {% else %}
          {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "sic",
      name: "sic",
      fieldset: {
        legend: {
          html: "Are the SIC codes correct?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
html: sicHTML
},
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
        {% endif %}

        {{ govukDetails({
  summaryText: "What is a SIC code?",
  html: sicDetails
}) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
      <p>
        <a href="/sign-out">Save and sign out</a>
      </p>
    </div>
  </div>
{% endblock %}