{% extends "layout.html" %}

{% block pageTitle %}
  Review the shareholders
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set shareholdersHTML %}
        <ul class="govuk-body">
          <li>{{scenario.company.directors.director1.name}}</li>
          <li>Correspondence address:<br>2 Nets Way<br>Newcastle<br>NE2 3BB
          </li>
          <li>100 Ordinary shares held
        </ul>
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareholders",
          name: "shareholders",
          fieldset: {
            legend: {
              html: "Are the shareholder details correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: shareholdersHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
      <p>
        <a href="/sign-out">Save and sign out</a>
      </p>
    </div>
  </div>
{% endblock %}