{% extends "layout.html" %}

{% block pageTitle %}
  Review the members register
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement-shareholder-capital"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set membersRegisterHTML %}
        Members registers
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "members-register",
          name: "members-register",
          fieldset: {
            legend: {
              html: "Is the members register correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: membersRegisterHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}