{% extends "layout.html" %}

{% block pageTitle %}
  Review the officers
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">

        {% if additionalOfficers === 'no' %}
          {{ govukInsetText({
  html: "A filing to add officers has been received but it has not yet been updated." }) }}
        {% endif %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "additional-officers",
          name: "additional-officers",
          fieldset: {
            legend: {
              html: "Are there any officers to appoint?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: officerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
      <p>
        <a href="/sign-out">Save and sign out</a>
      </p>
    </div>
  </div>
{% endblock %}