{% extends "layout.html" %}

{% block pageTitle %}
  Review the officers
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement-ro"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">
        <h1 class="govuk-heading-l">Check the officer details</h1>
        <h2 class="govuk-heading-m">Officers<br>2 officers / 0 resignations</h2>
        {% set directorHTML %}
        <ul class="govuk-list govuk-list--bullet">
          <li>David Francis</li>
          <li>Appointed: 27 March 2012</li>
          <li>Date of birth: March 1974</li>
          <li>Correspondence address: 132 Bakula Road, Cardiff, United Kingdom, CF32 4UA</li>
        </ul>
        {% endset %}
        {% set director2HTML %}
        <ul class="govuk-list govuk-list--bullet">
          <li>Fran Francis</li>
          <li>Appointed: 17 March 2012</li>
          <li>Date of birth: May 1990</li>
          <li>Correspondence address: 13 Scott Street, Cardiff, United Kingdom, CF32 4UA</li>
        </ul>
        {% endset %}

        {{ govukTable({

  rows: [
    [
      {
        html: directorHTML
      }
    ],
    [
    {
      html: director2HTML
    }
    ]
  ]
}) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "officers",
          name: "officers",
          fieldset: {
            legend: {
              html: "Are the officers correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: officerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}