{% extends "layout.html" %}

{% block pageTitle %}
  Review where the records are held
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set registerHTML %}
        <p>The registers are held at the registered office address.</p>
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registers",
          name: "registers",
          fieldset: {
            legend: {
              html: "Is this where your records are kept?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: registerHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}