{% extends "layout.html" %}

{% block pageTitle %}
  Review the confirmation statement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statment-people-with-significant-control"
  }) }}
{% endblock %}

{% block content %}

  {% set roChange = {
    href: "/confirmation-statement-ro",
    text: "Change",
    visuallyHiddenText: "registered office address"
} %}

  {% set officerChange = {
  href: "/confirmation-statement-officers",
  text: "Change",
  visuallyHiddenText: "officer"
} %}

  {% set registerChange = {
href: "/confirmation-statement-registers",
text: "Change",
visuallyHiddenText: "registers"
} %}

  {% set sicChange = {
href: "/confirmation-statement-sic",
text: "Change",
visuallyHiddenText: "standard industrial classification"
} %}

  {% set shareholderCapitalChange = {
href: "/confirmation-statement-shareholder-capital",
text: "Change",
visuallyHiddenText: "shareholder capital"
} %}

  {% set membersRegisterChange = {
href: "/confirmation-statement-members-register",
text: "Change",
visuallyHiddenText: "members register"
} %}

  {% set pscChange = {
href: "/confirmation-statement-people-with-significant-control",
text: "Change",
visuallyHiddenText: "people with significant control"
} %}

  {% set pscStatementChange = {
href: "/confirmation-statement-psc-statement",
text: "Change",
visuallyHiddenText: "people with significant control statement"
} %}

  {% if scenario.company.csDue === 'due' %}
    {% set feeHTML = {
      key: {
        text: "Fee"
      },
      value: {
        text: "£13"
      }
    } %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Review the confirmation statement</h1>
      <h2 class="govuk-heading-m">Statement date:
        {{ date }}</h2>
      <h3 class="govuk-heading-l">{{scenario.company.name}}</h3>
      <form action="" method="post">

        {{ govukSummaryList({

  firstCellIsHeader: true,
  classes: "align-top",
  rows: [
  {
    key: {
    text: "Registered office address"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [roChange]
    }
  },
  {
    key: {
    text: "Officers"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [officerChange]
    }
  },
  {
    key: {
    text: "SAIL address"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [registerChange]
    }
  },
  {
    key: {
    text: "Standard industrial classification"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [sicChange]
    }
  },
  {
    key: {
    text: "Members register"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [membersRegisterChange]
    }
  },
  {
    key: {
    text: "Shareholder capital"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [shareholderCapitalChange]
    }
  },
  {
    key: {
    text: "People with significant control"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [pscChange]
    }
  },
  {
    key: {
    text: "People with significant control statement"
  },
  value: {
    text: "Information is correct"
  },
  actions: {
    items: [pscStatementChange]
    }
  },
feeHTML
  ]
}) }}

        <h4 class="govuk-heading-m">Confirm this information</h4>

        <p>By continuing, you confirm that all information required to be delivered by the company pursuant to section 853A(1)(a) of the Companies Act 2006 in relation to the confirmation period ending on the confirmation date above either has been delivered
          with this statement.</p>

        {% if scenario.company.csDue === 'due' %}
          {{ govukButton({
text: "Confirm and pay",
href: "https://products.payments.service.gov.uk/pay/f2e467141a084c49972ec199dcad6e78"
}) }}
        {% else %}
          {{ govukButton({
text: "Confirm and submit",
href: "/confirmation"
}) }}
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}