{% extends "layout.html" %}

{% block pageTitle %}
  Review the registered office address
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set roaHTML %}
        {% if ro === 'no' %}
          {{ govukInsetText({
  html: "A filing to update these details has been received. You can continue filing this confirmation statement, even if the change is not yet reflected on this page." }) }}
        {% endif %}
        <p>125 Feather Hedge<br>Salisbury<br>SP4 7DE</p>

        {% endset %}

        {% if ro === 'yes' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: roaHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% elseif ro === 'no' %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: roaHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {% else %}
          {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: roaHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
      <p>
        <a href="/sign-out">Save and sign out</a>
      </p>
    </div>
  </div>
{% endblock %}