{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation statement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/authenticate"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirmation statement</h1>
      <h2 class="govuk-heading-m">Statement date:
        {{ date }}</h2>
      <h3 class="govuk-heading-l">{{scenario.company.name}}</h3>
      <form action="" method="post">

        {{ govukTable({

  firstCellIsHeader: true,
  classes: "align-top",
  rows: [
    [
      {
        text: "Registered office address"
      },
      {
        html: scenario.company.address | nl2br
      }
    ],
    [
      {
        text: "Officers"
      },
      {
        text: "name, role, DOB"
      }
    ],
    [
      {
        text: "Registers"
      },
      {
        text: "SAIL address"
      }
    ],
    [
      {
        text: "Standard industrial classification (SIC)"
      },
      {
        text: "code, type, desciption"
      }
    ],
    [
      {
        text: "Share capital"
      },
      {
        html: "Statement of capital here"
      }
    ],
    [
      {
        text: "Members register"
      },
      {
        html: "What goes here?"
      }
    ],
    [
      {
        text: "People with significant control (PSCs)"
      },
      {
        html: "Names and DOB here"
      }
    ]
  ]
}) }}

        <h4 class="govuk-heading-m">Confirm this information</h4>

        <p>By continuing, you confirm that all information required to be delivered by the company pursuant to
          <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/853A">section 853A(1)(a) of the Companies Act 2006</a>
          in relation to the confirmation period ending on the confirmation date above has been delivered with this statement.</p>
        {{ govukButton({
text: "Confirm and continue",
href: "https://products.payments.service.gov.uk/pay/f2e467141a084c49972ec199dcad6e78"
}) }}

      </form>
    </div>
  </div>
{% endblock %}