{% extends "layout.html" %}

{% block pageTitle %}
  Review the registered office address
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set roaHTML %}
        <p>125 Feather Hedge<br>Salisbury<br>SP4 7DE</p>
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "registered-office-address",
          name: "registered-office-address",
          fieldset: {
            legend: {
              html: "Is the registered office address correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: roaHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}