{% extends "layout.html" %}

{% block pageTitle %}
  Review the people with significant control statement
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set pscStatementHTML %}
        No additional statements relating to PSCs are currently held on the public register
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "psc-statement",
          name: "psc-statement",
          fieldset: {
            legend: {
              html: "Is the people with significant control statement correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
    html: pscStatementHTML
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}