{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/company-number"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">{{scenario.company.name}}</h2>
      <form action="" method="post">

        {% set warningHTML %}
        <p>
          You are not due to file a confirmation statement. If you file a confirmation statement today, it will show the date as
          <b>7 January 2021</b>
          and this will change your future review periods.
          <br><br>You will not need to pay a fee if you file your confirmation statement before
          <b>{{scenario.company.csDueDate}}</b>.
          <br><br>
          <a href="https://www.youtube.com/watch?v=dxN4djaAE3k">This video explains review periods and payment periods (opens in new tab).</a>

        </p>
        {% endset %}
        {{ govukTable({

  firstCellIsHeader: true,
  classes: "align-top",
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: scenario.company.number
      }
    ],
    [
      {
        text: "Status"
      },
      {
        text: scenario.company.status
      }
    ],
    [
      {
        text: "Incorporation date"
      },
      {
        text: scenario.company.incorporationDate
      }
    ],
    [
      {
        text: "Company type"
      },
      {
        text: scenario.company.companyType
      }
    ],
    [
      {
        text: "Registered office address"
      },
      {
        html: scenario.company.address | nl2br
      }
    ],
    [
      {
        text: "Confirmation statement due date"
      },
      {
        html: scenario.company.csDueDate
      }
    ]
  ]
}) }}
        {% if scenario.company.csDue === "notdue" %}
          {{ govukWarningText({
  html: warningHTML,
  iconFallbackText: "Warning"
}) }}
        {% else %}
        {% endif %}

        {{ govukButton({
text: "Confirm and continue",
href: "/authenticate"
}) }}
        <p>
          <a href="/company-number">Choose a different company</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}