{% extends "layout.html" %}

{% block pageTitle %}
  Index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#shortcuts">
              Shortcuts
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#mvp-versions">
              MVP versions
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ideal-versions">
              Ideal versions
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="shortcuts">
          <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">Shortcuts (Ideal)</h1>
            <h2 class="govuk-heading-l">Start pages</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/start">GOV UK</a>
                File a confirmation statement
              </li>
              <li>
                <a href="/chs-profile">CHS</a>
                File a confirmation statement
              </li>
            </ul>
            <h2 class="govuk-heading-l">Happy path</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/start">Start</a>
                File a confirmation statement
              </li>
              <li>
                <a href="/sign-in">Sign in</a>
                Sign in
              </li>
              <li>
                <a href="/company-number">Enter company number</a>
                What is the company number?
              </li>
              <li>
                <a href="/confirm-company">Confirm company</a>
                Confirm the company
              </li>
              <li>
                <a href="/authenticate">Authenticate</a>
                Authenticate
              </li>
              <li>
                <a href="/trading-status">Trading status</a>
                Company trading status
              </li>
              <li>
                <a href="/task-list">Task list</a>
                Task list
              </li>
              <li>
                <a href="/confirmation-statement-ro">Review ROA</a>
                Review registered office address
              </li>
              <li>
                <a href="/confirmation-statement-officers">Review officers (A)</a>
                Review officers |
                <a href="/confirmation-statement-officers-2">Review officers (B)</a>
                Review officers
              </li>
              <li>
                <a href="/confirmation-statement-registers">Review registers</a>
                Review registers
              </li>
              <li>
                <a href="/confirmation-statement-sic">Review SIC</a>
                Review standard industrial classification
              </li>
              <li>
                <a href="/confirmation-statement-shareholder-capital">Review shareholder capital</a>
                Review shareholder capital
              </li>
              <li>
                <a href="/confirmation-statement-shareholders">Review shareholders</a>
                Review shareholders
              </li>
              <li>
                <a href="/psc-exemption">PSC exemption</a>
                Exemption from keeping a PSC register
              </li>
              <li>
                <a href="/confirmation-statement-people-with-significant-control">Review people with significant control</a>
                Review people with significant control
              </li>
              <li>
                <a href="/confirmation-statement-psc-statement">Review people with significant control statement</a>
                Review people with significant control statement
              </li>
              <li>
                <a href="/confirmation-statement-review">Review confirmation statement</a>
                Review confirmation statement
              </li>
              <li>
                <a href="/https://products.payments.service.gov.uk/pay/f90761a2258f4b60baa29f045cd78ca2">Pay</a>
                Pay
              </li>
              <li>
                <a href="/confirmation">Confirmation</a>
                Confirmation
              </li>
              <br>
              <h2 class="govuk-heading-l">Filter journey</h2>
              <li>
                <a href="/start-2">Start</a>
                Start page
              </li>
              <li>
                <a href="/limited-company">Filter LTD</a>
                Are you filing for a limited company?
              </li>
              <li>
                <a href="/more-than-5-officers">more than 5 officers</a>
                Does the company have more than 5 officers?
              </li>
              <li>
                <a href="/more-than-5-shareholders">more than 5 shareholders</a>
                Does the company have more than 5 shareholders?
              </li>
              <br>
              <h2 class="govuk-heading-l">Stop pages</h2>
              <li>
                <a href="/use-webfiling">Use webfiling</a>
                You cannot use this service
              </li>
              <li>
                <a href="/wrong-ro">Wrong ro</a>
                Incorrect registered office address
              </li>
              <li>
                <a href="/wrong-officers">Wrong officers</a>
                Incorrect officers
              </li>
              <li>
                <a href="/wrong-registers">Wrong registers</a>
                Incorrect registers
              </li>
              <li>
                <a href="/wrong-sic">Wrong SIC code</a>
                Incorrect standard industrial classification
              </li>
              <li>
                <a href="/wrong-shareholder-capital">Wrong shareholder capital</a>
                Incorrect shareholder capital
              </li>
              <li>
                <a href="/wrong-members-register">Wrong shareholders</a>
                Incorrect shareholders
              </li>
              <li>
                <a href="/wrong-psc">Wrong PSC</a>
                Incorrect people with significant control
              </li>
              <li>
                <a href="/wrong-psc-statement">Wrong PSC statement</a>
                Incorrect people with significant control statement
              </li>

              <h2 class="govuk-heading-l">Error pages</h2>
              <ul class="govuk-list  govuk-list--bullet">
                <li>
                  <a href="/service-offline">Service offline</a>
                  Service offline - File a confirmation statement
                </li>
                <li>
                  <a href="/page-not-found">Page not found</a>
                  Page not found - File a confirmation statement
                </li>
              </ul>
              <h2 class="govuk-heading-l">Emails</h2>

              <h2 class="govuk-heading-l">Resources</h2>
              <ul class="govuk-list  govuk-list--bullet">
                <li>
                  <a href="https://drive.google.com/file/d/14ejTZlSSrYj1N-Bi_uUVrJS82MAl9Aff/view?usp=sharing">Journey map</a>
                </li>
              </ul>

            </div>
          </div>

          <!-- MVP VERSION TAB -->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mvp-versions">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-heading-m">Previously tested versions</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Changes</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    <a href="https://conf-statement-mvp-v1.herokuapp.com/">MVP - Version 1</th>
                    <td class="govuk-table__cell">TBC</td>
                    <td class="govuk-table__cell">
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Changes included in MVP version 1
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list--bulletlist">
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/start">Start page content</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/sign-in">Sign in page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/company-number">Company number page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/confirm-company">Confirm company page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/authenticate">Authentication page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/confirmation-statement">Confirmation statement page</a>
                            </li>
                            <li>
                              Scenario: company number 00111222. Auth code 222222
                            </li>
                            <li>
                              <a class="govuk-link" href="http://localhost:3000/https://products.payments.service.gov.uk/pay/f2e467141a084c49972ec199dcad6e78">Payment feature</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/confirmation">Confirmation page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/page-not-found">Page not found error page</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="https://conf-statement-mvp-v1.herokuapp.com/service-offline">Service offline error page</a>
                            </li>
                          </ul>
                        </div>
                      </details>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        Work in progress
                      </strong>
                    </tr>
                  </tr>
                </tbody>
              </table>

              <h2 class="govuk-heading-m">Examples and documentation</h2>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
                </li>
                <li>
                  <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
                </li>
              </ul>
            </div>

            <!-- IDEAL VERSION TAB -->

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ideal-versions">
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-heading-m">Previously tested versions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Changes</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <a href="https://conf-statement-ideal-v2.herokuapp.com/">Ideal - Version 2</th>
                      <td class="govuk-table__cell">21 Jan 2021</td>
                      <td class="govuk-table__cell">
                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Changes included in ideal version 2
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <ul class="govuk-list--bulletlist">
                              <li>
                                <a class="govuk-link" href="https://conf-statement-ideal-v2.herokuapp.com/psc-exemption">PSC exemption page wording</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="https://conf-statement-ideal-v2.herokuapp.com/task-list">Added task list</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="https://conf-statement-ideal-v2.herokuapp.com/task-list">Added complete task list</a>
                                You will need to say "yes" on the shareholders screen to get to it.
                              </li>
                              <li>
                                <a class="govuk-link" href="https://conf-statement-ideal-v2.herokuapp.com/confirmation-statement-review">Updated review screen</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="https://conf-statement-ideal-v2.herokuapp.com/index">Added button to task list on all stop pages</a>
                              </li>
                            </ul>
                          </div>
                        </details>
                      </td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                          Work in progress
                        </strong>
                      </tr>

                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        <a href="https://conf-statement-ideal-v1.herokuapp.com/">Ideal - Version 1</th>
                        <td class="govuk-table__cell">14 Jan 2021</td>
                        <td class="govuk-table__cell">
                          <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">
                                Changes included in ideal version 1
                              </span>
                            </summary>
                            <div class="govuk-details__text">
                              <ul class="govuk-list--bulletlist">
                                <li>
                                  <a class="govuk-link" href="https://conf-statement-ideal-v1.herokuapp.com/index">Initial prototype</a>
                                </li>
                              </ul>
                            </div>
                          </details>
                        </td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--green">
                            Tested
                          </strong>
                        </tr>

                      </tr>
                    </tbody>
                  </table>

                  <h2 class="govuk-heading-m">Examples and documentation</h2>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
                    </li>
                    <li>
                      <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
                    </li>
                  </ul>
                </div>
              </div>

            {% endblock %}