{% extends "layout.html" %}

{% block pageTitle %}
  Are you filing for a limited company?
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/start-2"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "limited-company",
          name: "limited-company",
          fieldset: {
            legend: {
              html: "Are you filing the confirmation statement for a private limited company?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}