{% extends "layout.html" %}

{% block pageTitle %}
  Does the company have more than 5 shareholders?
{% endblock %}
{% block signOut %}{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/more-than-5-officers"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ govukRadios({
          idPrefix: "5-shareholders",
          name: "5-shareholders",
          fieldset: {
            legend: {
              html: "How many shareholders does the company have?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "upTo5",
              text: "1 to 5"
            },
            {
              value: "moreThan6",
              text: "6 or more"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}