{% extends "layout.html" %}

{% block pageTitle %}
  How do you want to pay
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/review-payment"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "payment-options",
          name: "payment-options",
          fieldset: {
            legend: {
              text: "How do you want to pay for the confirmation statement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "card",
              text: "Credit or debit card"
            },
            {
              value: "account",
              text: "Companies House account"
            }
          ]
        }) }}

        {{ govukButton({
text: "Confirm"
}) }}
      </form>
    </div>
  </div>
{% endblock %}