{% extends "layout.html" %}

{% block pageTitle %}
  Preview the Confirmation Statement
{% endblock %}
{% block signOut %}{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Preview the Confirmation Statement for
        <strong>{{scenario.company.name}}</strong>
      </h1>
      {% set sicHTML %}
      {% include "includes/confirmation-statement-details/sic.html" %}
      {% endset %}
      {% set statementHTML %}
      {% include "includes/confirmation-statement-details/statement-of-capital.html" %}
      {% endset %}
      {% set officerHTML %}
      {% include "includes/confirmation-statement-details/officers.html" %}
      {% endset %}
      {% set memberHTML %}
      {% include "includes/confirmation-statement-details/members.html" %}
      {% endset %}
      {% set pscsHTML %}
      {% include "includes/confirmation-statement-details/pscs.html" %}
      {% endset %}
      {% set roaHTML %}
      {% include "includes/confirmation-statement-details/roa.html" %}
      {% endset %}
      {% set registerHTML %}
      {% include "includes/confirmation-statement-details/registers.html" %}
      {% endset %}
      {{ govukTable({

firstCellIsHeader: true,
classes: "align-top",
rows: [
[
{
text: "Company number"
},
{
text: scenario.company.number
}
],
[
{
text: "Status"
},
{
text: scenario.company.status
}
],
[
{
text: "Incorporation date"
},
{
text: scenario.company.incorporationDate
}
],
[
{
text: "Company type"
},
{
text: scenario.company.companyType
}
],
[
{
text: "Registered office address"
},
{
html: scenario.company.address | nl2br
}
]
]
}) }}

      {% if scenario.company.type === 'LTD' %}

        <h2 class="govuk-heading-m">

          Nature of business
        </h2>
        {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "SIC codes"
      },
      value: {
        html: sicHTML
      }
    },
    {
      key: {
        text: "Statement of capital"
      },
      value: {
        html: statementHTML
      }

    }
  ]
}) }}

        <h2 class="app-task-list__section">

          People
        </h2>

        {{ govukSummaryList({
           rows: [
           {
           key: {
            text: "Officers"
           },
           value: {
            html: officerHTML
           }
           },
           {
           key: {
            text: "People with significant control (PSC)"
           },
           value: {
            html: pscsHTML
          }
           },
           {
           key: {
            text: "Shareholders"
           },
           value: {
            html: shareholderHTML
           }
         }
           ]
           }) }}

        <h2 class="app-task-list__section">

          Addresses
        </h2>

        {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Registered office address"
      },
      value: {
        html: roaHTML
      }
    },
    {
      key: {
        text: "Register locations"
      },
      value: {
        html: registerHTML
      }

    }
  ]
}) }}

      </div>
    </div>

  {% elseif scenario.company.type === 'LLP' %}
    <h2 class="app-task-list__section">

      People
    </h2>

    {{ govukSummaryList({
     rows: [
     {
     key: {
      text: "Members"
     },
     value: {
      html: memberHTML
     }
     },
     {
     key: {
      text: "People with significant control (PSC)"
     },
     value: {
      html: pscsHTML
    }
     }
     ]
     }) }}

    <h2 class="app-task-list__section">

      Addresses
    </h2>

    {{ govukSummaryList({
rows: [
{
key: {
  text: "Registered office address"
},
value: {
  html: roaHTML
}
},
{
key: {
  text: "Register locations"
},
value: {
  html: registerHTML
}

}
]
}) }}

  </div>
</div>
{% endif %}

</div>
</div>
{% endblock %}