{% extends "layout.html" %}

{% block pageTitle %}
  Review company information for
  {{scenario.company.name}}
{% endblock %}
{% block signOut %}{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/review"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Review company information for
        <strong>{{scenario.company.name}}</strong>
      </h1>
      <p>You have confirmed that this company information is correct as of
        {{moment}}.</p>
      <p>The information here might not reflect recently filed updates. As long as any updates to company details have been submitted, you can still file the confirmation statement.</p>
      {% set sicHTML %}
      {% include "includes/confirmation-statement-details/sic.html" %}
      {% endset %}
      {% set statementHTML %}
      {% include "includes/confirmation-statement-details/statement-of-capital.html" %}
      {% endset %}
      {% set officerHTML %}
      {% include "includes/confirmation-statement-details/officers.html" %}
      {% endset %}
      {% set memberHTML %}
      {% include "includes/confirmation-statement-details/members.html" %}
      {% endset %}
      {% set pscsHTML %}
      {% include "includes/confirmation-statement-details/pscs.html" %}
      {% endset %}
      {% set roaHTML %}
      {% include "includes/confirmation-statement-details/roa.html" %}
      {% endset %}
      {% set registerHTML %}
      {% include "includes/confirmation-statement-details/registers.html" %}
      {% endset %}
      {% set shareholderHTML %}
      {% include "includes/confirmation-statement-details/shareholders.html" %}
      {% endset %}
      {{ govukTable({

firstCellIsHeader: true,
classes: "align-top",
rows: [
[
{
text: "Company number"
},
{
text: scenario.company.number
}
],
[
{
text: "Status"
},
{
text: scenario.company.status
}
],
[
{
text: "Incorporation date"
},
{
text: scenario.company.incorporationDate
}
],
[
{
text: "Company type"
},
{
text: scenario.company.companyType
}
],
[
{
text: "Registered office address"
},
{
html: scenario.company.address | nl2br
}
]
]
}) }}

      {% if scenario.company.type === 'LTD' %}

        <h2 class="govuk-heading-m">

          Nature of business
        </h2>
<div>
        <h3 class="govuk-heading-s">SIC codes</h3>
        {% include "includes/confirmation-statement-details/sic.html" %}
</div>
<div>
        <h3 class="govuk-heading-s">Statement of capital</h3>
        {% include "includes/confirmation-statement-details/statement-of-capital.html" %}
</div>
        <h2 class="app-task-list__section">

          People
        </h2>
        <div>
          <h3 class="govuk-heading-s">Officers</h3>
        {% include "includes/confirmation-statement-details/officers.html" %}

        </div>
        <div>
          <h3 class="govuk-heading-s">People with significant control (PSCs)</h3>
        {% include "includes/confirmation-statement-details/pscs.html" %}
</div>
<div>
        <h3 class="govuk-heading-s">Shareholders</h3>
        {% include "includes/confirmation-statement-details/shareholders.html" %}
</div>
        <h2 class="app-task-list__section">

          Addresses
        </h2>
        <div>
        <h3 class="govuk-heading-s">Registered office address</h3>
        {% include "includes/confirmation-statement-details/roa.html" %}
        </div>
        <div>
        <h3 class="govuk-heading-s">Register locations</h3>
        {% include "includes/confirmation-statement-details/registers.html" %}
</div>
      </div>
    </div>

        <p class="govuk-body">
                <a href="javascript:if(window.print)window.print()">Print a copy of these details</a>
              </p>
  {% elseif scenario.company.type === 'LLP' %}
    <h2 class="app-task-list__section">

      People
    </h2>
    <h3 class="govuk-heading-s">Members</h3>
    {% include "includes/confirmation-statement-details/members.html" %}
    <h3 class="govuk-heading-s">People with significant control (PSCs)</h3>
    {% include "includes/confirmation-statement-details/pscs.html" %}

    <h2 class="app-task-list__section">

      Addresses
    </h2>
    <h3 class="govuk-heading-s">Registered office address</h3>
    {% include "includes/confirmation-statement-details/roa.html" %}
    <h3 class="govuk-heading-s">Register locations</h3>
    {% include "includes/confirmation-statement-details/registers.html" %}

    <p class="govuk-body">
            <a href="javascript:if(window.print)window.print()">Print a copy of these details</a>
          </p>
  </div>
</div>
{% endif %}

</div>
</div>
{% endblock %}
