{% extends "layout.html" %}

{% block pageTitle %}
  Exemption from keeping a PSC register
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/shareholders"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ govukRadios({

          classes: "govuk-radios--inline",
          idPrefix: "exemption",
          name: "exemption",
          fieldset: {
             legend: {
             text: "Is the company exempt or has it ever been exempt from keeping a people with significant control (PSC) register?",
             isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
    }
  },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}