{% extends "layout.html" %}

{% block pageTitle %}
  Review the payment
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement-review"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirmation statement fee for
        {{ scenario.company.name }}</h1>

      {% set feeHTML %}
      Confirmation statement date
      {{ moment }}
      {% endset %}

      {{ govukTable({
  caption: feeHTML,
  firstCellIsHeader: false,
  head: [
    {
      text: "Fee"
    },
    {
      text: "Date"
    },
    {
      text: "Fee amount"
    }
  ],
  rows: [
    [
      {
        text: "Confirmation statement fee"
      },
      {
        html: moment
      },
      {
        text: "£13"
      }
    ]
  ]
}) }}

      <form action="" method="post">

        {% if scenario.company.csDue === 'due' %}
          {{ govukButton({
text: "Confirm and pay",
href: "https://products.payments.service.gov.uk/pay/f90761a2258f4b60baa29f045cd78ca2"
}) }}
        {% else %}
          {{ govukButton({
text: "Confirm and submit",
href: "/confirmation"
}) }}
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}