{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts (MVP)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Shortcuts       <span class="govuk-caption-l">Version 1 </span>
</h1>


{{ govukWarningText({
      text: "Screens after 'What is the company number?' will look strange unless you have entered a company number",
      iconFallbackText: "Warning"
    }) }}


 <h2 class="govuk-heading-l">Early screens</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/start">GOV.UK start</a>
  </li>
  <li>
    <a class="govuk-link" href="/sign-in">Sign in to Companies House</a>
  </li>
  <li>
    <a class="govuk-link" href="/company-number">What is the company number?</a> <span class="govuk-hint">(use 00222333 or 00111222, 00111223, 00222333, 00222334, 00222335, 00888999)</span>
  </li>
  <li>
    <a class="govuk-link" href="/confirm-company">Confirm this is the correct company</a>
  </li>
    <li>
    <a class="govuk-link" href="/authenticate">Enter the company authentication code</a> <span class="govuk-hint">(use 222222)</span>
  </li>
  <li>
    <a class="govuk-link" href="/check-trading-status">Check the trading status of shares</a>
  </li>
</ul>
   <h2 class="govuk-heading-l">Task list</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
    <a class="govuk-link" href="/task-list">Task list</a>
          <ul class="govuk-list govuk-list--bullet">
              <li>
              <a class="govuk-link" href="/confirmation-statement/sic">Check the SIC codes</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/statement-of-capital">Check the statement of capital</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/officers">Check the director's details</a>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                        <a class="govuk-link" href="/confirmation-statement/directors-identity-verification">Directors identity verification</a>
                      </li>
                         <li>
                        <a class="govuk-link" href="/confirmation-statement/directors-identity-verification-alt">Directors identity verification (alt)</a>
                      </li>
                      </ul>
            
            
            
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/people-with-significant-control">Check the people with significant control (PSCs) details</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/shareholders">Check the shareholder details</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/rea">Check the registered email address</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/ro">Check the registered office address</a>
            </li>
                <li>
              <a class="govuk-link" href="/confirmation-statement/registers">Check where the company records are kept</a>
            </li>
        </ul>
  </li>
      <li>
    <a class="govuk-link" href="/task-list-complete">Task list complete</a> 
    </li>
</ul>



     <h2 class="govuk-heading-l">Later screens</h2>
<ul class="govuk-list govuk-list--bullet">
        <li>
    <a class="govuk-link" href="/confirmation-statement/review">Submit the confirmation statement</a>
  </li>
    <li>
    <a class="govuk-link" href="/print-confirmation-statement-review">Review company information for...</a>  (not in staging)
  </li>
  <li>
    <a class="govuk-link" href="review-payment">Review payment</a>
  </li>
    <li>
    <a class="govuk-link" href="/payment-options">How do you want to pay for the confirmation statement?</a> (not in staging)
  </li>
  <li>
    <a class="govuk-link" href="confirmation">Confirmation statement submitted</a>
  </li>
</ul>

    {% endblock %}