{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts (MVP)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Shortcuts       <span class="govuk-caption-l">Version 1 </span>
</h1>

 <h2 class="govuk-heading-l">Early screens</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/start">GOV.UK start</a>
  </li>
  <li>
    <a class="govuk-link" href="/sign-in">Sign in to Companies House</a>
  </li>
  <li>
    <a class="govuk-link" href="/company-number">What is the company number?</a> <span class="govuk-hint">(use 00222333 or 00111222, 00111223, 00222333, 00222334, 00222335, 00888999)</span>
  </li>
  <li>
    <a class="govuk-link" href="/confirm-company">Confirm this is the correct company</a>
  </li>
    <li>
    <a class="govuk-link" href="/authenticate">Enter the company authentication code</a> <span class="govuk-hint">(use 222222)</span>
  </li>
  <li>
    <a class="govuk-link" href="/check-trading-status">Check the trading status of shares</a>
  </li>
</ul>
   <h2 class="govuk-heading-l">Task list</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
    <a class="govuk-link" href="/task-list">Task list</a>
  </li>
  <!--<li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Here</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Here</a>
  </li>-->
</ul>

    {% endblock %}