{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts (MVP)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Shortcuts (MVP)</h1>
      <h2 class="govuk-heading-l">Happy path</h2>
      <ul class="govuk-list">
        <li>
          <a href="/start">Start</a>
          File a confirmation statement
        </li>
        <li>
          <a href="/sign-in">Sign in</a>
          Sign in
        </li>
        <li>
          <a href="/company-number">Enter company number</a>
          What is the company number?
        </li>
        <li>
          <a href="/confirm-company">Confirm company</a>
          Confirm the company
        </li>
        <li>
          <a href="/authenticate">Authenticate</a>
          Authenticate
        </li>
        <li>
          <a href="/upload">Review company information</a>
          Review
        </li>
        <ul class="govuk-bulleted--list">
          <li>
            <a href="/upload-with-doc">Pay</a>
            Pay
          </li>
          <li>
            <a href="/confirmation">Confirmation</a>
            Confirmation
          </li>
        </ul>
        <h2 class="govuk-heading-l">Stop pages</h2>

        <h2 class="govuk-heading-l">Error pages</h2>
        <ul class="govuk-list">
          <li>
            <a href="/service-offline">Service offline</a>
            Service offline - File a confirmation statement
          </li>
          <li>
            <a href="/page-not-found">Page not found</a>
            Page not found - File a confirmation statement
          </li>
        </ul>
        <h2 class="govuk-heading-l">Emails</h2>

        <h2 class="govuk-heading-l">Resources</h2>

      </div>
    {% endblock %}