{% extends "layout.html" %}

{% block pageTitle %}
  You have signed out
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          You have signed out
        </h1>
        <p>Your answers have been saved.</p>
        <p>You can pick up where you left off from the
          <a href="/chs-profile-your-filings">Your Filings</a>
          section on your Companies House account.</p>

      </form>
    </div>
  </div>
{% endblock %}