{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Statement
        {% if result === '7' %}
          complete
        {% else %}
          incomplete</h2>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-7">
        {% if officers === 'yes' %}
          {% set result = result + 1
 %}
        {% endif %}
        {% if psc === 'yes' %}
          {% set result = result + 1 %}
        {% endif %}
        {% if register === 'yes' %}
          {% set result = result + 1 %}
        {% endif %}
        {% if ro === 'yes' %}
          {% set result = result + 1
 %}
        {% endif %}
        {% if shareholderCapital === 'yes' %}
          {% set result = result + 1
 %}
        {% endif %}
        {% if shareholders === 'yes' %}
          {% set result = result + 1
 %}
        {% endif %}
        {% if sic === 'yes' %}
          {% set result = result + 1
 %}
        {% endif %}
        You have completed
        {{result}}
        of 8 sections</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">

            People
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-officers" aria-describedby="eligibility-status">
                  Officers
                </a>
              </span>
              {% if officers === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif officers === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/psc-exemption" aria-describedby="read-declaration-status">
                  People with significant control (PSC)
                </a>
              </span>
              {% if exemption === 'no' %}
                {% if psc === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Completed</strong>
                {% elseif psc === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
                {% endif %}
              {% elseif exemption === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">

            Addresses
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-ro" aria-describedby="company-information-status">
                  Registered office address
                </a>
              </span>
              {% if ro === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif ro === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-registers" aria-describedby="contact-details-status">
                  Register locations
                </a>
              </span>
              {% if register === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif register === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Shareholder information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-shareholder-capital" aria-describedby="eligibility-status">
                  Shareholder capital
                </a>
              </span>
              {% if shareholderCapital === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif shareholderCapital === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-shareholders" aria-describedby="read-declaration-status">
                  Shareholders
                </a>
              </span>
              {% if shareholders === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif shareholders === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">

            Nature of business
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-statement-sic" aria-describedby="contact-details-status">
                  SIC codes
                </a>
              </span>
              {% if sic === 'yes' %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                  Completed</strong>

              {% elseif sic === 'no' %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Confirm and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if result === 7 %}
                  <a href="/review">Review statement and pay</a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not started</strong>
              {% else %}
                Review statement and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            {% endif %}

          </li>
        </ul>
      </li>
    </ol>
    <p>
      <a href="/sign-out">Save and sign out</a>
    </p>
  </div>
</div>

{% endblock %}