{% extends "layouts/main.html" %}

{% block pageTitle %}
  You are now signed out - File a confirmation statement
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You are now signed out
      </h1>
      <p>For your security, we have signed you out because you have not used the service for 60 minutes.</p>
      <p>We have not saved your answers.</p>
      <p><a href="/start">Start again to file a confirmation statement</a>.</p>
      <p>
          <a href="https://www.smartsurvey.co.uk/">What did you think of this service?</a>
          (takes 2 minutes)</p>

      </div>
    </div>
  {% endblock %}
