{% extends "layout.html" %}

{% block pageTitle %}
  Company trading status
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/authenticate"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        {% set yesHtml %}
        {{ govukRadios({
          id: "trading",
          name: "trading",
          spellcheck: false,
          classes: "govuk-!-width-full govuk-!-align-bottom",
          fieldset: {
            legend: {
              text: "Throughout the confirmation period was the company an issuer to which DTR5 applies, with shared admitted to trading on a market?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you answer NO you will be asked to provide the names and addresses of those shareholders with 5% or more shareholdings as at the date of the confirmation statement"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        <br>
        {{ govukDetails({
          summaryText: "What is DTR5?",
          text: "DTR5 refers to Vote Holder and Issuer Notification Rules contained in Chapter 5 of the Disclosure and Transparency Rules source book issued by the Financial Conduct Authority. For example, notification is required when the % acquisition of a shareholder in the company has reached a certain threshold (starting at 3%)."
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "trading-status",
          name: "trading-status",
          fieldset: {
            legend: {
              text: "Were any of the company's shares admitted to trading on a market at any time during this confirmation statement period?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml,
                doRenderAfterFieldset: true
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {% if doRenderAfterFieldset === true %}
          {{ govukDetails({
          summaryText: "What is DTR5?",
          text: "DTR5 refers to Vote Holder and Issuer Notification Rules contained in Chapter 5 of the Disclosure and Transparency Rules source book issued by the Financial Conduct Authority. For example, notification is required when the % acquisition of a shareholder in the company has reached a certain threshold (starting at 3%)."
        }) }}
        {% endif %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}