{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - File a confirmation statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>
      <p>You will need to file your confirmation statement on our
      </a>
      <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">Webfiling service</a>.</p>

  </div>
</div>
{% endblock %}