{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - File a confirmation statement
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>
      <p>This service can only be used to file confirmation statements for private limited companies of a certain size.</p>
      <p>You will need to
        <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1">file your confirmation statement using the Companies House WebFiling service</a>.
        <p>
            <a href="https://www.smartsurvey.co.uk/">What did you think of this service?</a>
            (takes 2 minutes)</p>
      </div>
    </div>
  {% endblock %}
