{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect register - File a confirmation statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Incorrect register
      </h1>
      <p>Depending on the updates you need to make, you will need to do one of the following before you can file your confirmation statement.</p>
      <ul>
        <li>
          <a href="https://www.gov.uk/government/publications/file-a-single-alternative-inspection-location-ad02">register a single alternative inspection location (AD02)</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/change-location-of-records-to-single-alternative-inspection-location-ad03">move your company's records to the single alternative inspection location (AD03)</a>
        </li>
        <li>
          <a href="https://www.gov.uk/government/publications/change-location-of-company-records-to-registered-office-ad04">move your company's records to the registered office (AD04)</a>
        </li>
      </ul>
      <p>Once the register is correct on the
        <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>
        return to
        <a href="/start">this service to file a confirmation statement</a>.</p>
      <p>If the register is correct,
        <a href="/confirmation-statement-registers">go back to the last page</a>
        and select "Yes".

      </div>
    </div>
  {% endblock %}