{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect members register - File a confirmation statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          Incorrect shareholder details
        </h1>
        <p>You will need to
          <a href="https://www.gov.uk/government/publications/give-notice-of-an-update-to-members-information-held-on-the-public-register-eh06">update the shareholder details</a>
          before you can file your confirmation statement.</p>
        <p>Once your shareholder details are correct on the
          <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>
          return to
          <a href="/start">this service to file a confirmation statement</a>.</p>

        {{ govukButton({
    text: "Return to task list"
  }) }}
      </form>
    </div>
  </div>
{% endblock %}